@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


.gnText {
    display: inline-block;
    padding: 8px;
    background-color: #004170;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 0 0 0 5px #004170;
    color: white;
    text-shadow: 4px 4px 6px #DA291C;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  
}
.container {
    position: fixed;     
    bottom: 10px; 
    width: 100%;
    left: 10px;
}
